<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Librería Online Champagnat</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header class="header">
        <div class="menu">
            <a href="#" class="logo">Sistema de inscripcion</a>
        </div>
        <div class="header-content container">
            <h1>Colegio Marcelino Champagnat</h1>
            <p>Una plataforma para que puedas reservar tu cupo desde cualquier lugar y momento</p>
            <div class="button-container">
                <a href="/preinscripcion" class="header-button">Reservar</a>
                <a href="/docentes" class="header-button">Inf. de docentes</a>
                <a href="/acerca" class="header-button">Acerca del colegio</a>
                <a href="/ubicacion" class="header-button">Ubicación</a>

            </div>
        </div>
    </header>

    <section class="hero-image">
        <img src="/img/logo2.jpeg" alt="Imagen de librería" class="responsive-image">
    </section>

    <footer class="footer container">
        <h3>U.E Marcelino Champagnat</h3>
        <p>Una página hecha por estudiantes de la promo &copy; 2025</p>
        <div class="links">
            <ul>
                <li><a href="/">Inicio</a></li>
                <li><a href="informacion.html">Información</a></li>
                
                <li><a href="https://www.instagram.com/libreria__mundoescolar">Instagram</a></li>
                <li><a href="https://www.facebook.com/profile.php?id=61568429519338">Facebook</a></li>
            </ul>
        </div>
    </footer>
</body>
</html>
