body {
  font-family: Arial;
  background: #f0f0f0;
  padding: 20px;
}

/* LOGIN */
#login {
  max-width: 300px;
  margin: auto;
  padding: 20px;
  background: white;
  border-radius: 8px;
  text-align: center;
}

#login input {
  width: 100%;
  margin: 10px 0;
  padding: 8px;
}

#login button {
  width: 100%;
  padding: 10px;
}

#loginError {
  color: red;
}

/* CHAT */
#chat {
  max-width: 500px;
  margin: auto;
}

#messages {
  background: white;
  height: 300px;
  overflow-y: auto;
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 10px;
}

#messages p {
  background: #d1e7dd;
  padding: 8px;
  border-radius: 5px;
  margin-bottom: 5px;
}
